.score-summary
  .cads-prose
    %h2.score-summary__heading
      #{supplier.name} ratings for July to September 2023
    %p
      Updated scores for the following 3 months will be published in March 2024.

  %ul.score-summary__list
    %li.score-summary__item
      %p.score-summary__text
        Overall score
      = render ScoreComponent.new(score: supplier.overall_rating, show_decimal_score: true)
    %li.score-summary__item
      %p.score-summary__text
        Fewer complaints received
      = render ScoreComponent.new(score: supplier.complaints_rating)
    %li.score-summary__item
      %p.score-summary__text
        Response wait time
      = render ScoreComponent.new(score: supplier.contact_rating)
    %li.score-summary__item
      %p.score-summary__text
        Customer commitments
      = render ScoreComponent.new(score: supplier.guarantee_rating)
