%tr{ class: row_classes, "data-testid": "supplier-#{supplier.name.parameterize}" }
  %td.supplier-table__rank
    .cads-table__content
      = supplier.rank
  %td.supplier-table__name
    .cads-table__content
      = supplier.name
  %td.supplier-table__complaints
    .cads-table__content
      = render ScoreComponent.new(score: supplier.complaints_rating)
  %td.supplier-table__response
    .cads-table__content
      = render ScoreComponent.new(score: supplier.contact_rating)
  %td.supplier-table__guarantee
    .cads-table__content
      = render ScoreComponent.new(score: supplier.guarantee_rating)
  %td
    .cads-table__content
      = render_overall_score
