%tr{ class: row_classes }
  %td.supplier-table__rank
    %span.cads-table__content
      = supplier.rank
  %td.supplier-table__name
    %span.cads-table__content
      = supplier.name
  %td.supplier-table__complaints
    %span.cads-table__content
      = render ScoreComponent.new(score: supplier.complaints_rating)
  %td.supplier-table__response
    %span.cads-table__content
      = render ScoreComponent.new(score: supplier.contact_rating)
  %td.supplier-table__bill
    %span.cads-table__content
      = render ScoreComponent.new(score: supplier.bills_rating)
  %td
    %span.cads-table__content
      = render_overall_score
