%main.cads-page-content
  %h1.cads-page-title
    Energy Supplier Comparison Table

  = render(LocationSwitcherComponent.new(current_country:))

  .cads-prose
    %h2 Ranked suppliers
    %ol
      - ranked_suppliers.each do |supplier|
        %li
          = link_to("#{supplier.name}, overall rating: #{supplier.overall_rating}", supplier)

    %h2 Unranked suppliers
    %ul
      - unranked_suppliers.each do |supplier|
        %li
          = link_to(supplier.name, supplier)
