%h1.cads-page-title
  #{supplier.name} customer service

= render LocationSwitcherComponent.new(current_country:)
= render CitizensAdviceComponents::OnThisPage.new do |c|
  - c.with_links(on_this_page_links(supplier.name))

.cads-prose
  %p
    You can use our customer service ratings to help you decide which supplier to use.
  %p
    The ratings are calculated using information from different sources, including Citizens Advice, Energy Ombudsman and the suppliers.

= render ScoreSummaryComponent.new(supplier)

= render SupplierTableComponent.new(supplier_with_top_three, highlight_supplier_with_slug: supplier.slug)

.cads-prose
  %p
    #{supplier.name} ranked #{supplier.rank.ordinalize} in the supplier comparison table.

.cads-prose
  %p
    = link_to("Check the full table to compare more energy suppliers", suppliers_path(country: current_country))

= render OtherScoresComponent.new(supplier)

.cads-prose
  %p
    %a{ href: "/consumer/energy/energy-supply/get-a-better-energy-deal/compare-domestic-energy-suppliers-customer-service1/how-the-scores-are-worked-out/" }
      Find out how the scores are worked out

= render OtherInfoComponent.new(supplier)
