= form_with model: current_step, url: step_path, method: :patch, class: "cads-prose-direct-descendants" do |form|

  = render(current_step.key, form: form)

  - if wizard.can_proceed?
    = render CitizensAdviceComponents::Button.new(type: :submit).with_content("Next")


- if wizard.previous_key
  = form_with model: current_step, url: step_path(wizard.previous_key), method: :get do
    = render CitizensAdviceComponents::Button.new(type: :submit, variant: :secondary).with_content("Back")
