%div{ class: current_step.form_field_classes }
  - if current_step.error.present?
    .cads-form-field__error-marker
  .cads-form-field__content
    %fieldset.cads-form-group
      %legend.cads-form-field__label
        = current_step.label
      - if current_step.error.present?
        %p.cads-form-field__error-message
          = current_step.error
      .frequency-inputs
        .frequency-inputs__item
          = form.cads_text_field :hours, label: "Hours", width: :two_chars, required: true, options: { additional_attributes: { "inputmode": "numeric",  id: "daily_usage_creation_steps_time_usage_base-input" } }
        .frequency-inputs__item
          = form.cads_text_field :minutes, label: "Minutes", width: :two_chars, required: true
        .frequency-inputs__item
          = form.cads_collection_select :frequency, label: "Frequency", required: true, collection: current_step.frequency_options, text_method: :text, value_method: :value