!!!
%html.no-js{ lang: I18n.locale }
  %head
    %meta{ content: "text/html; charset=UTF-8", "http-equiv": "Content-Type" }
    %meta{ content: "width=device-width,initial-scale=1", name: "viewport" }

    %link{ rel: "canonical", href: format_canonical_url }

    = csrf_meta_tags
    = csp_meta_tag
    = display_meta_tags(default_meta_tags)
    - if swiftype_meta.present?
      - swiftype_meta.each do |item|
        %meta.swiftype{ name: item[:name], data: { type: item[:type] }, content: item[:content] }

    = stylesheet_link_tag "application"

    %script{ id: "script-no-js", nonce: content_security_policy_nonce }
      document.querySelector('html').classList.remove('no-js');
    = render "shared/head_analytics"

  %body{ class: ("cas" if scotland?) }
    = render "shared/google_tag_manager_no_script"

    .wrapper
      = render HeaderComponent.new
      = render CitizensAdviceComponents::Navigation.new(links: navigation_links)
      = render BreadcrumbsComponent.new

      #cads-main-content
        .cads-page-content
          .cads-grid-container
            .cads-grid-row
              %main.cads-grid-col-md-12
                = yield
                = render ImpactSurveyComponent.new(impact_survey_id: "J8PLH2H")

    - if scotland?
      = render FooterComponent.new(current_path: request.path,
                                   feedback_survey_id: "SCX56FR",
                                   columns: scotland_public_website_footer_nav_links,
                                   feedback_title: "Your feedback helps us make our digital services better. Give us feedback")
    - else
      = render FooterComponent.new(current_path: request.path,
                                   feedback_survey_id: "J8PLH2H",
                                   columns: public_website_footer_nav_links)

    = javascript_include_tag "application", defer: true
