!!!
%html.no-js{ lang: I18n.locale }
  %head
    %meta{ content: "text/html; charset=UTF-8", "http-equiv": "Content-Type" }
    %meta{ content: "width=device-width,initial-scale=1", name: "viewport" }

    %link{ rel: "canonical", href: format_canonical_url }

    = csrf_meta_tags
    = csp_meta_tag
    = display_meta_tags(default_meta_tags)
    - if swiftype_meta.present?
      - swiftype_meta.each do |item|
        %meta.swiftype{ name: item[:name], data: { type: item[:type] }, content: item[:content] }

    %script{ id: "script-no-js", nonce: content_security_policy_nonce }
      document.querySelector('html').classList.remove('no-js');
    = render "shared/head_analytics"

    = stylesheet_link_tag "application"

  %body{ class: ("cas" if scotland?) }
    = render "shared/google_tag_manager_no_script"

    .wrapper
      = render HeaderComponent.new
      = render CitizensAdviceComponents::Navigation.new(links: navigation_links)
      = render BreadcrumbsComponent.new

      #cads-main-content
        .cads-page-content
          .cads-grid-container
            .cads-grid-row
              %main.cads-grid-col-md-12
                %svg{ width: "17", height: "14", viewBox: "0 0 17 15", style: "display: none;", xmlns: "http://www.w3.org/2000/svg" }
                  %g{ id: "halfStar" }
                    %path{ d: "M8.40002 0L10.1961 5.52786H16.0085L11.3062 8.94427L13.1023 14.4721L8.40002 11.0557L3.69774 14.4721L5.49385 8.94427L0.791572 5.52786H6.60391L8.40002 0Z", fill: "url(#paint0_linear_658_12679)" }
                    %defs
                      %lineargradient{ id: "paint0_linear_658_12679", x1: "8.15002", y1: "7.00012", x2: "8.65002", y2: "7.00012", gradientUnits: "userSpaceOnUse" }
                        %stop{ offset: "0.507812", "stop-color": "#FFD250" }
                        %stop{ offset: "0.515625", "stop-color": "white" }
                = yield
                = render ImpactSurveyComponent.new(impact_survey_id: "PZ7TFCQ")

    - if scotland?
      = render FooterComponent.new(current_path: request.path,
                                   feedback_survey_id: "SCX56FR",
                                   columns: scotland_public_website_footer_nav_links,
                                   feedback_title: "Your feedback helps us make our digital services better. Give us feedback")
    - else
      = render FooterComponent.new(current_path: request.path,
                                   feedback_survey_id: "J8PLH2H",
                                   columns: public_website_footer_nav_links)

    = javascript_include_tag "application", defer: true
