!!!
%html.no-js
  %head
    %meta{ content: "text/html; charset=UTF-8", "http-equiv": "Content-Type" }
    %title EnergyComparisonTable
    %meta{ content: "width=device-width,initial-scale=1", name: "viewport" }
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "application"

  %script{ id: "script-no-js", nonce: content_security_policy_nonce }
    document.querySelector('html').classList.remove('no-js');

  %body
    = yield
    = javascript_include_tag "application", defer: true
